table {
    
    border-collapse:collapse;
    width:90%;
    
    }
   th, td {
    border:1px solid black;
    width:20%;
    background-color:white;
    padding: 10px;
    color: rgb(139, 77, 77);
    }
   td {
    text-align:center;
    }
   caption {
    font-weight:bold;
    padding-bottom: 10px;
    
    }