table {
    border-collapse:collapse;
    width:80%;
    height: auto;
    margin: 10%;
 }
th, td {
    border:2px solid black;
    width:20px;
    height: 30px;
    font-size: large;
}
td {
    text-align:center;
 }
caption {
    font-weight:bold;
    padding-bottom: 10px; 
    text-decoration: underline;  
}
th{
    background-color: darkgreen;
}
tr :nth-child(1){
    background-color: darkgreen;
    font-weight: bold;
}